.mobile {
  height: 90vh;
  width: 60vw;
  position: absolute;
  right: 0;
  top: -8px;
  padding: 22px 10px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.mobile .close-menu {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
}
.mobile .mobile-option {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.mobile .list-option {
  font-size: 24px;
  margin: 12px 0px;
  user-select: none;
}

.mobile .list-option span {
  text-transform: capitalize;
}

.mobile .list-option a i {
  display: inline-block;
  margin-right: 10px;
}
