html {
  scroll-behavior: smooth;
}
.home {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 80%;
}

@media only screen and (max-width: 1024px) {
  .home {
    width: 90%;
  }
}

@media only screen and (max-width: 512px) {
  .home {
    width: 100%;
  }
}
